<?xml version="1.0"?>
<config>
  <modules>
    <Scriptkid_Setshippingincart>
      <version>0.1.0</version>
    </Scriptkid_Setshippingincart>
  </modules>
  <global>
    <helpers>
      <setshippingincart>
        <class>Scriptkid_Setshippingincart_Helper</class>
      </setshippingincart>
    </helpers>
    <models>
      <setshippingincart>
        <class>Scriptkid_Setshippingincart_Model</class>
        <resourceModel>setshippingincart_mysql4</resourceModel>
      </setshippingincart>
    </models>
  </global>
  <frontend>
    <events>
      <checkout_cart_save_before>
        <observers>
          <setshippingincart>
            <type>singleton</type>
            <class>setshippingincart/observer</class>
            <method>setShippingAddressData</method>
          </setshippingincart>
        </observers>
      </checkout_cart_save_before>
      <checkout_cart_save_after>
        <observers>
          <setshippingincart>
            <type>singleton</type>
            <class>setshippingincart/observer</class>
            <method>addShippingToCart</method>
          </setshippingincart>
        </observers>
      </checkout_cart_save_after>
    </events>
  </frontend>
</config>
